@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

.delete {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.remove {
  display: none;
}

@layer components {
  .card-hover {
    @apply bg-white hover:bg-slate-50 hover:-translate-y-0.5 active:bg-slate-50 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-slate-500 focus:ring-opacity-50 transform transition font-bold cursor-pointer;
  }
  .btn-primary {
    @apply inline-block px-5 py-3 rounded-lg shadow-lg bg-brand hover:bg-brand-lignt hover:-translate-y-0.5 active:bg-brand-medium focus:outline-none focus:ring focus:ring-offset-2 focus:ring-brand-lignt focus:ring-opacity-50 transform transition font-bold text-brand-dark;
  }
  .btn-secondary {
    @apply inline-block px-5 py-3 rounded-lg shadow-lg bg-brand hover:bg-brand-lignt hover:-translate-y-0.5 active:bg-brand-medium focus:outline-none focus:ring focus:ring-offset-2 focus:ring-brand-lignt focus:ring-opacity-50 transform transition font-bold text-brand-dark;
  }
}
